@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tailwind @layer directive if using Tailwind config */
@layer components {
    .input-field {
      @apply bg-gray-50 border outline-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
    }
  
    .btn-primary {
      @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5;
    }
  
    .btn-danger {
      @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5;
    }
  }
  